# App Configuration
APP_URL=https://ais-dev-b6r5fmfkduuy6eozg6j72k-320232755313.us-east1.run.app

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Apple OAuth
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
